# Indian Election Analysis

In [1]:
# import packages
import numpy as np
import pandas as pd
import plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [9]:
# read data
nl = pd.read_table('nl.tab')  #national legislatures i.e Lok sabha

In [10]:
nl.head()

                     st_name  year   ...     totvotpoll electors
0  Andaman & Nicobar Islands  1977   ...          25168    85308
1  Andaman & Nicobar Islands  1977   ...          35400    85308
2  Andaman & Nicobar Islands  1980   ...            109    96084
3  Andaman & Nicobar Islands  1980   ...            125    96084
4  Andaman & Nicobar Islands  1980   ...            405    96084

[5 rows x 11 columns]

In [57]:
nl.tail()

           st_name  year  pc_no   ...    partyabbre totvotpoll electors
73076  West Bengal  2014     42   ...          NOTA      14557  1495089
73077  West Bengal  2014     42   ...           INC     132084  1495089
73078  West Bengal  2014     42   ...           BJP     235753  1495089
73079  West Bengal  2014     42   ...           CPM     393305  1495089
73080  West Bengal  2014     42   ...          AITC     460568  1495089

[5 rows x 11 columns]

In [7]:
nl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73081 entries, 0 to 73080
Data columns (total 11 columns):
st_name       73081 non-null object
year          73081 non-null int64
pc_no         73081 non-null int64
pc_name       73081 non-null object
pc_type       65011 non-null object
cand_name     73081 non-null object
cand_sex      72539 non-null object
partyname     73081 non-null object
partyabbre    73081 non-null object
totvotpoll    73081 non-null int64
electors      73081 non-null int64
dtypes: int64(4), object(7)
memory usage: 6.1+ MB

### Overview 

This dataset contains data from 1977 - 2014.

* st_name - State Name
* year - Year of election
* pc_no - Parlimentary constituency number
* pc_name - Parlimentary constituency Name
* pc_type - Parliamentary constituency reservation status
* cand_name - Candidate Name
* cand_sex - Candidate Gender
* partyname - Party Name
* partyabbre - Party abbreviation 
* totvotpoll - Votes Received
* electors - Number of registered voters

In [21]:
# check for dublicate entries
nl.duplicated().sum()

1

In [30]:
# check for null values
nl.isna().any()

st_name       False
year          False
pc_no         False
pc_name       False
pc_type        True
cand_name     False
cand_sex       True
partyname     False
partyabbre    False
totvotpoll    False
electors      False
dtype: bool

In [33]:
nl[pd.isnull(nl).any(axis = 1)]

                         st_name  year   ...     totvotpoll electors
64     Andaman & Nicobar Islands  2009   ...            398   265110
65     Andaman & Nicobar Islands  2009   ...            683   265110
66     Andaman & Nicobar Islands  2009   ...            734   265110
67     Andaman & Nicobar Islands  2009   ...            789   265110
68     Andaman & Nicobar Islands  2009   ...           1480   265110
69     Andaman & Nicobar Islands  2009   ...           1785   265110
70     Andaman & Nicobar Islands  2009   ...           4696   265110
71     Andaman & Nicobar Islands  2009   ...           4916   265110
72     Andaman & Nicobar Islands  2009   ...           7190   265110
73     Andaman & Nicobar Islands  2009   ...          72221   265110
74     Andaman & Nicobar Islands  2009   ...          75211   265110
84     Andaman & Nicobar Islands  2014   ...           1564   269360
4118              Andhra Pradesh  2009   ...           7824  1131430
4119              Andhra Pradesh  2009   ...           9157  1131430
4120              Andhra Pradesh  2009   ...          13378  1131430
4121              Andhra Pradesh  2009   ...          16441  1131430
4122              Andhra Pradesh  2009   ...          16471  1131430
4123              Andhra Pradesh  2009   ...          57931  1131430
4124              Andhra Pradesh  2009   ...         112930  1131430
4125              Andhra Pradesh  2009   ...         257181  1131430
4126              Andhra Pradesh  2009   ...         372268  1131430
4127              Andhra Pradesh  2009   ...           3328  1315642
4128              Andhra Pradesh  2009   ...           3414  1315642
4129              Andhra Pradesh  2009   ...           3938  1315642
4130              Andhra Pradesh  2009   ...           4468  1315642
4131              Andhra Pradesh  2009   ...           4541  1315642
4132              Andhra Pradesh  2009   ...           5511  1315642
4133              Andhra Pradesh  2009   ...           5752  1315642
4134              Andhra Pradesh  2009   ...           6726  1315642
4135              Andhra Pradesh  2009   ...           8364  1315642
...                          ...   ...   ...            ...      ...
72726                West Bengal  2014   ...          14626  1602849
72738                West Bengal  2014   ...           9965  1540713
72751                West Bengal  2014   ...          10979  1287222
72761                West Bengal  2014   ...          16837  1405981
72774                West Bengal  2014   ...          12700  1512792
72783                West Bengal  2014   ...           9971  1490596
72793                West Bengal  2014   ...           8819  1458724
72805                West Bengal  2014   ...           9342  1488785
72823                West Bengal  2014   ...          10657  1555914
72837                West Bengal  2014   ...          15667  1595746
72853                West Bengal  2014   ...          19511  1685296
72872                West Bengal  2014   ...           9103  1433985
72888                West Bengal  2014   ...           9929  1505099
72902                West Bengal  2014   ...           8277  1448632
72913                West Bengal  2014   ...          15374  1624038
72923                West Bengal  2014   ...          16517  1630042
72929                West Bengal  2014   ...          17837  1600293
72940                West Bengal  2014   ...          11643  1527273
72948                West Bengal  2014   ...           9598  1490409
72959                West Bengal  2014   ...          14418  1610489
72973                West Bengal  2014   ...          22935  1475112
72984                West Bengal  2014   ...          13616  1499673
72997                West Bengal  2014   ...          16726  1471933
73013                West Bengal  2014   ...          23682  1503812
73022                West Bengal  2014   ...          20928  1466921
73032                West Bengal  2014   ...          13951  1532244
73041                West Bengal  2014   ...          16886  1583495
73055                West Bengal  2014   ...          11479  1469684
73064                West Bengal  2014   ...          17322  1538421
73076                West Bengal  2014   ...          14557  1495089

[8612 rows x 11 columns]

In [40]:
# Deleting rows with null values doesn't seem to be a good option so, I'll fill the null values with undefined

nl.fillna('Undefined', inplace=True)

In [52]:
# drop dupilcate entry
nl.drop_duplicates(inplace= True)

In [54]:
nl.st_name.value_counts()

Uttar Pradesh                          14791
Bihar                                   7727
Maharashtra                             6458
Tamil Nadu                              5309
Andhra Pradesh                          5236
Madhya Pradesh                          5196
West Bengal                             3648
Karnataka                               3624
Rajasthan                               3433
Gujarat                                 2946
Haryana                                 2065
Kerala                                  1881
National Capital Territory Of Delhi     1823
Punjab                                  1715
Orissa                                  1354
Assam                                   1123
Jammu & Kashmir                          695
Jharkhand                                685
Himachal Pradesh                         347
Chhattisgarh                             324
Nct Of Delhi                             317
Chandigarh                               295
Odisha                                   217
Delhi                                    189
Manipur                                  182
Chattisgarh                              178
Goa                                      171
Tripura                                  164
Uttarakhand                              155
Meghalaya                                102
Pondicherry                              101
Arunachal Pradesh                         91
Andaman & Nicobar Islands                 91
Dadra & Nagar Haveli                      62
Puducherry                                59
Sikkim                                    59
Uttaranchal                               54
Daman & Diu                               50
Mizoram                                   46
Goa Daman & Diu                           36
Lakshadweep                               34
Nagaland                                  34
Goa, Daman & Diu                          13
Name: st_name, dtype: int64

In [55]:
nl.partyname.value_counts()

Independent                                            31457
IND                                                     5619
Independents                                            4050
Indian National Congress                                3919
Bharatiya Janata Party                                  2329
Bahujan Samaj Party                                     1670
Janata Dal                                               943
BSP                                                      938
INC                                                      881
BJP                                                      792
Janata Party                                             712
Samajwadi Party                                          621
Communist Party Of India (Marxist)                       608
NOTA                                                     543
Communist Party Of India                                 507
Indian Natioanl Congress (I)                             492
SP                                                       434
AAAP                                                     432
Janta Party                                              432
Bharatiya Lok Dal                                        405
Doordarshi Party                                         395
Shivsena                                                 343
All India Indira Congress (Tiwari)                       321
Door Darshi Party                                        321
Janta Party (Secular)                                    294
Lok Dal                                                  274
Ajeya Bharat Party                                       253
BMUP                                                     233
Bharatiya Janta Party                                    229
Rashtriya Janata Dal                                     220
                                                       ...
pms                                                        1
Cheluva Kannad Nadu                                        1
BSJM                                                       1
EU                                                         1
Akhil Bharatiya Lok Tantrik Alp-Sankhyak Jan Morcha        1
Bharathiya Sahayog Congress                                1
Duggar Pradesh Party                                       1
ABHS                                                       1
NTRTDP(LP)                                                 1
ESKP                                                       1
MMM                                                        1
bhp                                                        1
GOA                                                        1
Swarajya Party Of India                                    1
Akhil Bhartiya Shivsena-Rashtrawadi                        1
HSCP                                                       1
ABLTASJM                                                   1
STR                                                        1
TNGP                                                       1
Ambedkar Pragatisheel Republican Dal                       1
KDC                                                        1
Adarsh Lok Dal                                             1
Vijeta Party                                               1
Democratic Bahujan Samaj Morcha                            1
ABVCP                                                      1
Jai Mahakali Nigrani Samiti                                1
Gandhiwadi Rashtriya Congress                              1
Bhartiya Lok Kalyan Dal                                    1
LS                                                         1
RaMSP                                                      1
Name: partyname, Length: 1424, dtype: int64

In [56]:
nl.partyabbre.value_counts()

IND           41126
INC            4800
BJP            3350
BSP            2624
SP             1057
JD              943
CPM             770
DDP             716
JNP             675
CPI             608
JP              551
NOTA            543
INC(I)          492
SHS             462
AAAP            432
BLD             405
AIIC(T)         321
TDP             301
JNP(S)          294
RJD             291
CPI(ML)(L)      286
AD              286
JD(U)           281
NCP             268
AJBP            253
LKD             253
DMK             253
BMUP            233
AITC            228
RPI             216
              ...
ABSC              1
RSNP              1
BLLP              1
JHSP              1
AMP               1
pms               1
SaVP              1
SCR               1
LAJM              1
AKMDMP            1
JKC               1
BRABSVP           1
LVKP              1
MGMK              1
BBMKD             1
shsap             1
PVP(P)            1
igp               1
AMS               1
GNLF              1
MDF               1
PPP               1
UBNLF             1
RshJP             1
RPI(GG)           1
chp               1
ESKP              1
NaLP              1
AHL               1
UPI               1
Name: partyabbre, Length: 1071, dtype: int64

In [60]:
# replace state where two entries name Goa Daman & Diu and nct of Delhi
# and lets keep Goa, Daman, and Diu as it is because they were a union territory of India 
#
from 19 December 1961 to 30 May 1987. 
#The union territory comprised the present-day state of Goa and the two 
#small coastal enclaves of Daman and Diu on the coast of Gujarat.

nl.st_name.replace('Goa Daman & Diu', 'Goa, Daman & Diu', inplace = True)
nl.st_name.replace('Nct Of Delhi', 'National Capital Territory Of Delhi', inplace = True)

#### There are few rows in partynames where abbrivation is used instead of party names I'll not be replacing those beacuse I'll use the partyabbre column instead of partynames.

In [64]:
nl.cand_sex.value_counts()

M            68884
F             3648
Undefined      542
O                6
Name: cand_sex, dtype: int64

In [68]:
# replace gender O with undefined
nl.cand_sex.replace('O', 'Undefined', inplace = True)